body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 8%) ;
    font-family: "Inter", sans-serif;
    height: 100vh;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  hsl(0, 0%, 12%);
    border-radius: 10px;
    text-align: center;
    padding: 40px;
}

.profile-card h3 {
   color: hsl(0, 0%, 100%)
}

.profile-card p:nth-of-type(odd) {
    color: hsl(75, 94%, 57%);
}

.profile-card p:nth-of-type(even) {
    color: hsl(0, 0%, 100%);
}

.profile-card p {
    font-size: 14px;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.pro-links {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    list-style: none;
    text-align: center;
    padding: 15px;
    margin: 8px 0;
    width: 100%;
}

.pro-links:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}

.attribution {
    margin-top: 5%;
    color: hsl(0, 0%, 100%)
}

